
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<head>
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</head>
<br />
<style>
    .centrar {
        justify-content: center;
        align-items: center;
    }

    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Avance General del Estado de Nayarit</h3>
            </div>

            <div class="card-body">
                <table id="tblavance" class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Elemento</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Entregados</th>
                            <th class="text-center">Restantes</th>
                            <th class="text-center">% Avance</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalles de Captura a nivel Estatal</h3>
            </div>

            <div class="card-body">
                <table id="tblEstatal" class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Municipio</th>
                            <th class="text-center">Paquetes</th>
                            <th class="text-center">Gubernatura</th>
                            <th class="text-center">Presidencia y Sindicatura</th>
                            <th class="text-center">Diputaciones</th>
                            <th class="text-center">Regidurías</th>
                            <th class="text-center">Ver</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/AvanceEstatal.js"></script>
    @*<script src="~/js/Actas.js"></script>*@
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
}
