@model WebComputos.Models.T_Acta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> Gubernatura = ViewBag.Gubernatura;

    IEnumerable<SelectListItem> Estatus = ViewBag.Estatus;

}



<style>
    .prueba {
        vertical-align: bottom;
    }

    #Seccion1{
        border:1px solid
    }
</style>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</head>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Registro de información complementaria de Actas de Gubernatura</h3>
            </div>
            <form id="RegistroActaG">
                <div class="card-body">
                    <div class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>[1] Datos de la Casilla,</label>
                            <label for="Seccion1">Sección:</label>
                            @Html.DropDownList("Gubernatura", Gubernatura, "-Seleccione una sección-", new { @class = "form-control", @id = "Seccion1", @data_live_search = "true"})
                        </div>
                        <div class="col-md-3">
                            <label for="casid1">Casilla:</label>
                            <select id="casid1" name="casid" asp-items='@(new SelectList(string.Empty,"value","text"))' class="form-control"></select>
                        </div>
                        <div class="col-md-3">
                            <label for="est">Estatus en la que se recibió el acta:</label>
                            @Html.DropDownList("Estatus", Estatus, "-Estatus del Acta-", new { @class = "form-control", @id = "est1" })
                            <span asp-validation-for="Estatus" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3 prueba">
                            <label asp-for="Sobrantes" class="control-label">[2] Boletas sobrantes de la elección:</label>
                            <input asp-for="Sobrantes" class="form-control nuevaposicion" value="0" id="Sobrantes1" min="0" />
                            <span asp-validation-for="Sobrantes" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 prueba1">
                            <label asp-for="VotosCiudadanos" class="control-label">[3] Personas que votaron:</label>
                            <input asp-for="VotosCiudadanos" class="form-control" id="Ciudadanos1" value="0" min="0" />
                            <span asp-validation-for="VotosCiudadanos" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="VotosRepresentantes" id="textRepresentantes1" class="control-label text-justify">[4] Representantes de partidos políticos y de candidatos/as independientes que votaron en la casilla no incluidos/as en la lista nominal:</label>
                            <input asp-for="VotosRepresentantes" class="form-control" id="Representantes1" value="0" min="0" />
                            <span asp-validation-for="VotosRepresentantes" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 prueba2">
                            <label asp-for="TotalVotos" id="textTotal1" class="control-label">[5] Suma de las cantidades de los apartados [3] y [4]:</label>
                            <input asp-for="TotalVotos" class="form-control" id="Total1" value="0" min="0" />
                            <span asp-validation-for="TotalVotos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="VotosUrnas" class="control-label"> Votos de la elección sacados de la urna:</label>
                            <input asp-for="VotosUrnas" class="form-control" id="Urnas1" value="0" min="0" />
                            <span asp-validation-for="VotosUrnas" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">¿Se presentaron incidentes durante el escrutinio y cómputo de la elección?</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <input class="custom-control-input" name="Chein1" type="radio" id="inci1" value="True" />
                                    <label for="inci1" class="custom-control-label">Si</label>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input class="custom-control-input" name="Chein1" type="radio" id="inci2" value="False" />
                                    <label for="inci2" class="custom-control-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Describa brevemente</label>
                            <input type="text" id="Descri1" asp-for="DesIncidentes" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="hidden" asp-for="Incidentes" class="form-control" id="incidente1" />
                        <span asp-validation-for="Incidentes" class="text-danger"></span>
                    </div>
                    <div class="text-right">
                        <button type="button" onclick="RegistrarG()" class="btn btn-success btn-lg rounded">Guardar</button>
                        <button type="button" class="btn btn-danger btn-lg rounded" style="width:auto;"><a asp-action="IndexGob" class="text-white">Cancelar</a></button>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="cmb1" class="form-control" value="1" placeholder="1" />
                        <input type="hidden" id="idres1" asp-for="IdActaDetalle" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            carg1();
            idres1();
            IncidenteG();
            busqueda();
        });

        $(function busqueda() {
            $("#Seccion1").selectpicker();
        });
        function Bloqueo() {
            $('#RegistroActaG input').attr('disabled', 'disabled');
            $('#RegistroActaG button').attr('disabled', 'disabled');
            $('#RegistroActaG select').attr('disabled', 'disabled');
        }
        function Desbloqueo() {
            $('#RegistroActaG input').removeAttr('disabled');
            $('#RegistroActaG button').removeAttr('disabled');
            $('#RegistroActaG select').removeAttr('disabled');
        }
        function Refresco() {
            window.location.reload(true);
        }

        function IncidenteG() {
            $("input[name=Chein1]").click(function () {
                var res = $('input:radio[name=Chein1]:checked').val();
                document.getElementById("incidente1").value = res;
                if (res == "False") {
                    document.getElementById("Descri1").disabled = true;
                }
                else {
                    document.getElementById("Descri1").disabled = false;
                }
            });
        }

        function idres1() {
            $("#casid1").focus(function () {
                var b = document.getElementById("casid1").value;
                document.getElementById("idres1").value = b;
                var c = document.getElementById("casid1");
                var ca = c.options[c.selectedIndex].text;
                var casilla = ca.split(" ");
                if (casilla[0] == "Especial") {
                    document.getElementById("Representantes1").style.display = 'none';
                    document.getElementById("textRepresentantes1").style.display = 'none';
                    document.getElementById("Total1").style.display = 'none';
                    document.getElementById("textTotal1").style.display = 'none';



                } else {
                    document.getElementById("Representantes1").style.display = 'block';
                    document.getElementById("textRepresentantes1").style.display = 'block';
                    document.getElementById("Total1").style.display = 'block';
                    document.getElementById("textTotal1").style.display = 'block';

                }
            });
            $("#casid1").change(function () {
                var b = document.getElementById("casid1").value;
                document.getElementById("idres1").value = b;
                var c = document.getElementById("casid1");
                var ca = c.options[c.selectedIndex].text;
                var casilla = ca.split(" ");
                if (casilla[0] == "Especial") {
                    document.getElementById("Representantes1").style.display = 'none';
                    document.getElementById("textRepresentantes1").style.display = 'none';
                    document.getElementById("Total1").style.display = 'none';
                    document.getElementById("textTotal1").style.display = 'none';

                } else {
                    document.getElementById("Representantes1").style.display = 'block';
                    document.getElementById("textRepresentantes1").style.display = 'block';
                    document.getElementById("Total1").style.display = 'block';
                    document.getElementById("textTotal1").style.display = 'block';
                }
            });
        }

        function carg1() {
            $("#Seccion1").change(function () {
                var url = "/admin/TActas/CargarGob";
                var a = document.getElementById("cmb1").value;
                var b = document.getElementById("Seccion1").value;
                $.getJSON(url, { ide: a, ids: b }, function (data) {
                    var items = '';
                    $("#casid1").empty();
                    $.each(data, function (j, row) {
                        items += "<option value='" + row.idActaDetalle + "'>" + row.lCasilla.nombre + "</option>";
                    });
                    $("#casid1").html(items);
                    document.getElementById("casid1").focus();
                })
            });

        }

        function ValidarG() {
            var form = $('#RegistroActaG');
            $.validator.unobtrusive.parse(form);
            var validate = form.validate().form();
            var unobtrusiveValidation = form.data('unobtrusiveValidation');
            return validate;
        }
        function RegistrarG() {
            var c = document.getElementById("casid1");
            var ca = c.options[c.selectedIndex].text;
            var casilla = ca.split(" ");
            if (casilla[0] == "Especial") {
                Bloqueo();
                if (ValidarG() == true) {
                    var items = {};
                    items["Sobrantes"] = $("#Sobrantes1").val();
                    items["VotosCiudadanos"] = $("#Ciudadanos1").val();
                    items["VotosRepresentantes"] = $("#Representantes1").val();
                    items["TotalVotos"] = $("#Ciudadanos1").val();
                    items["VotosUrnas"] = $("#Urnas1").val();
                    items["Incidentes"] = $("#incidente1").val();
                    items["DesIncidentes"] = $("#Descri1").val();
                    items["Estatus"] = $("#est1").val();
                    items["IdActaDetalle"] = $("#idres1").val();

                    $.ajax({
                        url: '/admin/TActas/Create',
                        type: 'POST',
                        data: {
                            item: items
                        },
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.mensaje, {
                                    closeButton: true,
                                    progressBar: true,
                                    showMethod: 'slideDown',
                                });
                                window.setTimeout(Refresco, 3000);

                            }
                            else {
                                Desbloqueo();
                                toastr.error(data.mensaje);
                            }
                        },

                    })
                }
            }

            else {
                Bloqueo();
                if (ValidarG() == true) {

                    var items = {};
                    items["Sobrantes"] = $("#Sobrantes1").val();
                    items["VotosCiudadanos"] = $("#Ciudadanos1").val();
                    items["VotosRepresentantes"] = $("#Representantes1").val();
                    items["TotalVotos"] = $("#Total1").val();
                    items["VotosUrnas"] = $("#Urnas1").val();
                    items["Incidentes"] = $("#incidente1").val();
                    items["DesIncidentes"] = $("#Descri1").val();
                    items["Estatus"] = $("#est1").val();
                    items["IdActaDetalle"] = $("#idres1").val();

                    $.ajax({
                        url: '/admin/TActas/Create',
                        type: 'POST',
                        data: {
                            item: items
                        },
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.mensaje, {
                                    closeButton: true,
                                    progressBar: true,
                                    showMethod: 'slideDown',
                                    timeOut: 2000
                                });

                                window.setTimeout(Refresco, 2000);
                            }
                            else {
                                Desbloqueo();
                                toastr.error(data.mensaje);
                            }
                        },

                    })
                }
            }
        }
    </script>
}