
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> Municipio = ViewBag.ListaMunicipio;
}
<br />
<head>
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</head>
<br />
<style>
    .centrar {
        justify-content: center;
        align-items: center;
    }

    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @if (User.IsInRole("Admin")|| User.IsInRole("IEEN"))
                {
                    <h3 class="card-title">Información Complementaria del Estado de Nayarit</h3>
                }
                else
                {
                    <h3 class="card-title">Información Complementaria del municipio de @ViewBag.Municipio</h3>
                }

            </div>

            <div class="card-body">
                @{
                    if (@User.IsInRole("Admin") || @User.IsInRole("CapturaRes"))
                    {
                        if (User.IsInRole("Admin")|| User.IsInRole("IEEN"))
                        {
                            <div class="col-md-2 text-left">
                                <label>Municipio</label>
                                @Html.DropDownList("Municipio", Municipio, "-Seleccione un Municipio-", new { @class = "form-control", @id = "Municipios" })<br />
                                <label id="Mens">Vista por defecto : Tepic</label>
                            </div>
                        }
                        <div class="col-md text-right">
                            <a asp-action="Create" class="btn btn-secondary"><i class="fas fa-plus"></i> Registrar Información Complementaria</a>
                        </div>
                    }
                }

                <br />
                <table id="tblActasReg" class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Sección</th>
                            <th class="text-center">Casilla</th>
                            <th class="text-center">Elección</th>
                            <th class="text-center">Opciones</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Actas.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
}
