@model WebComputos.Models.T_Acta_Extranjero 
@{
    ViewData["Title"] = "Voto en el Extranjero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                Datos del registro de información complementaria del Acta de Voto en el Extranjero
            </div>
            <div class="card-body">
                <form id="ActaExtranjero">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="NumMesa">[1] Número de Mesa </label>
                            <input asp-for="NumMesa" class="form-control" id="Mesa" disabled/>
                            <span asp-validation-for="NumMesa" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Instalacion">[2] Hora de instalación de la mesa</label>
                            <input type="time" asp-for="Instalacion" class="form-control" id="HoraInst" disabled />
                            <span asp-validation-for="Instalacion" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label text-center">[3]¿Comprobó que la urna estaba vacía?</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <input asp-for="UrnaVacia"class="custom-control-input" name="urna" type="radio" id="UrnaSi" value="True" disabled/>
                                    <label for="UrnaSi" class="custom-control-label">Si</label>
                                    <span asp-validation-for="UrnaVacia" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input asp-for="UrnaVacia" class="custom-control-input" name="urna" type="radio" id="UrnaNo" value="False" disabled />
                                    <label  for="UrnaNo" class="custom-control-label">No</label>
                                    <span asp-validation-for="UrnaVacia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label text-center">¿La urna se colocó a la vista de todos?</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <input asp-for="UrnaVista"class="custom-control-input" name="vista" type="radio" id="VistaSi" value="True" disabled/>
                                    <label  for="VistaSi" class="custom-control-label">Si</label>
                                    <span asp-validation-for="UrnaVista" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input asp-for="UrnaVista"class="custom-control-input" name="vista" type="radio" id="VistaNo" value="False" disabled />
                                    <label  for="VistaNo" class="custom-control-label">No</label>
                                    <span asp-validation-for="UrnaVista" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="PersonasVotaron">[4] Personas que votaron </label>
                            <input asp-for="PersonasVotaron" class="form-control" id="Personas" disabled/>
                            <span asp-validation-for="PersonasVotaron" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SobreVotos">[5] Sobres con los votos </label>
                            <input asp-for="SobreVotos" class="form-control" id="Sobres" disabled />
                            <span asp-validation-for="SobreVotos" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Deposito">[6] Hora de depósito de boletas en la urna</label>
                            <input type="time" asp-for="Deposito" class="form-control" id="HoraDep" disabled/>
                            <span asp-validation-for="Deposito" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="VotosUrnas">[7] Votos de la elección sacados de la urna</label>
                            <input asp-for="VotosUrnas" class="form-control" id="Boletas" disabled />
                            <span asp-validation-for="VotosUrnas" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="control-label">¿Se presentaron incidentes durante el escrutinio y cómputo de la elección?</label>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <input asp-for="Incidentes"  class="custom-control-input" name="Incidente" type="radio" id="Inci1" value="True" disabled />
                                    <label for="Inci1" class="custom-control-label">Si</label>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input asp-for="Incidentes" class="custom-control-input" name="Incidente" type="radio" id="Inci2" value="False" disabled/>
                                    <label for="Inci2" class="custom-control-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Describa brevemente</label>
                            <input type="text" id="Descripcion" asp-for="DesIncidentes" class="form-control" disabled />
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-8 offset-4">
                            <div class="text-right">
                                <button type="button" class="btn btn-danger btn-lg rounded" style="width:auto;"><a asp-action="IndexExt" class="text-white">Volver</a></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

}