@*<div class="row">
    <div class="col">
        <button type="submit" id="Guardar" class="btn btn-success form-control">Crear</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-danger form-control">Volver a lista</a>
    </div>
</div>*@
    <div class="text-right">
        <button type="submit" id="Guardar4" class="btn btn-success btn-lg rounded">Guardar</button>
        <button type="button" class="btn btn-danger btn-lg rounded" style="width:auto;"><a asp-action="Index" class="text-white">Cancelar</a></button>
    </div>