@model WebComputos.Models.ViewModels.MenuDinamicoVM
@if (Model.LDemarcaciones.Count() > 0)
{
    <li class="nav-item has-treeview">
        <a class="nav-link" href="#">
            <i class="far fa-building nav-icon"></i>
            <p>Regidurías</p>
            <i class="right fas fa-angle-left"></i>
        </a>
        <ul class="nav nav-treeview">
            @foreach (var item in Model.LDemarcaciones)
            {
                var secciones = Model.Lsecciones.Where(x => x.DemarcacionId == item.Id).ToList();
                if (secciones.Count > 0)
                {

                }
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="TRecepcionPaquetes" asp-action="CausalesReg" asp-route-id="@item.Id">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>@item.Nombre</p>
                    </a>
                </li>
            }
        </ul>
    </li>
 }